.main-slider {
    &__wrapper {
        align-items: stretch
    }

    &__item {
        background-color: #101E41;
        border-radius: 2rem;
        display: flex;
        gap: 1.2rem;
        justify-content: space-between;
        height: 100%;

        @include vp-768 {
            flex-direction: column-reverse;
            background-color: transparent;
            justify-content: flex-end;
        }
    }

    &__content {
        margin-top: 7rem;
        margin-bottom: 7rem;
        padding-left: 4rem;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        width: 50%;
        z-index: 2;
        justify-content: space-between;

        @include vp-768 {
            width: auto;
            max-width: 100%;
            padding-left: 0;
            height: 100%;

        }
    }

    &__text {
        color: var(--surface-secondary);
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        @include vp-768 {
            gap: 2.8rem;
            color: var(--text-primary);
        }
    }

    &__image {
        background-repeat: no-repeat;
        background-size: 560px auto;
        background-position: center center;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 16rem;
        overflow: hidden;

        @include vp-1024 {
            background-position: center left;
        }

        @include vp-768 {
            width: auto;
            // background-position: center center;
            background-position: center 20px;
            background-size: cover;
            background-color: #101E41;
            border-radius: 2rem;
        }
    }

    &__product-image {
        @include vp-768 {
            width: 70%;
        }
    }

    &__swiper-pagination {
        position: relative;
        bottom: 0 !important;
        margin-top: 2rem;

        @include vp-768 {
            display: none;
        }

    }

    & .swiper-pagination-bullet {
        border-radius: 0 !important;
        margin: 2.1rem !important;
    }

    & .swiper-slide {
        height: auto !important;
    }
}